{# app/Resources/views/Emails/registration.html.twig #}
<h3>Forgot password for LiveAboard</h3>

Hi {{ name }}! You requested your password to be reset.

{# example, assuming you have a route named "login" #}
To login please open the LiveAboard app and click on Diver Log.<br><br>
Username: {{ username }}<br>
Password: {{ password }}<br>
<br>
Please store the password in a safe location as the system does not know your plain text password.
<br><br>
Thanks you!<br>
LiveAboard

{# Makes an absolute URL to the /images/logo.png file #}
{#<img src="{{ absolute_url(asset('images/logo.png')) }}">#}